<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'self'; script-src 'self' cdnjs.cloudflare.com;"/>
    <title>FIRE Calculator AUS</title>
    <!-- For some reason without base, ejs interprets the css as a html file -->
    <base href="/">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body>
    <div class="calculator-box">
      <div class="parameters-box">
        <form class="calculator" action="/post" method="POST">
          <div class="parameter">
            <label for="current-age">Current age:</label>
            <input type="number" name="current-age" value=<%= docObject.currentAge %> placeholder="23" min="0">
            <small></small>
          </div>

          <div class="parameter">
            <label for="retirement-age">Retirement age:</label>
            <input type="number" name="retirement-age" placeholder="65" min="1" value=<%= docObject.retirementAge %>>
            <small></small>
          </div>

          <div class="parameter">
            <label for="annual-spend">Annual spending in retirement:</label>
            <input type="number" name="annual-spend" placeholder="30000" min="1" value=<%= docObject.annualSpend %>>
            <small></small>
          </div>

          <div class="parameter">
            <label for="current-super">Current Super value:</label>
            <input type="number" name="current-super" placeholder="0" min="0" value=<%= docObject.currentSuper %>>
          </div>

          <div class="parameter">
            <label for="monthly-contribution">Monthly contribution:</label>
            <input type="number" name="monthly-contribution" placeholder="500" min="0" value=<%= docObject.monthlyContribution %>>
          </div>

          <!--Replace the growth and interest rate with range input in future-->
          <!--Current value of the slider will be shown to the user-->
          <div class="parameter">
            <label for="growth-rate">Investment growth rate:</label>
            <input type="number" name="growth-rate" placeholder="7.0" min="-100" max="100" step="0.5" value=<%= docObject.growthRate %>>
          </div>

          <div class="parameter">
            <label for="interest-rate">Interest rate:</label>
            <input type="number" name="interest-rate" placeholder="3.0" min="-100" max="100" step="0.5" value=<%= docObject.interestRate %>>
          </div>

          <!--Replace Submit button with "Years to FIRE" when convert to React-->
          <input class="submit" type="submit" value="Submit">
        </form>
      </div>
      <div class="graph-box">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>

    <p>Your <%= docObject.ageDifference %> years from retirement</p>
    <p>
      At a real growth rate (growth - inflation) of <%= docObject.adjustedGrowthRate %>%
      and a planned annual spendings of <%= docObject.annualSpend %> this makes your
      FIRE number: <%= docObject.fireNumber %>
    </p>
    <p>
      The amount of money you need to put into your Super today to reach <%= docObject.fireNumber %>
      by age <%= docObject.retirementAge %>, is:
    </p>
    <p><%= docObject.coastNumber %></p>
    <p>
      With a Super that's currently at
      <%= docObject.currentSuper %>, you've got to put in
      <%= docObject.actualCoastNumber %> more to reach your
      FIRE number by retirement
    </p>

    <p>Monthly contributions: <%= docObject.monthlyContribution %></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js" integrity="sha512-Lii3WMtgA0C0qmmkdCpsG0Gjr6M0ajRyQRQSbTF6BsrVh/nhZdHpVZ76iMIPvQwz1eoXC3DmAg9K51qT5/dEVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/main.js"></script>
    <noscript>Sorry this website needs Javascript to run, please turn it on and refresh the page</noscript>
  </body>
</html>
